/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    height: 100vh;
    width: 100vw;
    padding: 5px;
    color: #17234e;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden; /* Remove a barra de rolagem lateral */
}

@media (max-width: 768px) {
    .wrapper {
        font-size: 30px;
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: radial-gradient(circle, #17234e, #000000);
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
    height: 10%;
    margin: 0px 10px 5px;
    box-shadow: 1px 4px 8px #17234e;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 1em;
    margin: 10px;
    margin-top: 5px;
    border-radius: 10px;
    flex-grow: 1;
    background-image: url('/static/VT.jpg');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.wrapper {
    display: flex;
    width: 100%;
    font-size: 42px;
    align-items: center;
    text-align: center;
    background: transparent;
    margin: 5px 5px;
    padding: 0px 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
    display: flex; 
    font-family: "Russo One", sans-serif;
    width: 100%;
    height: 120px;
    background: transparent;
}

svg text {
    animation: stroke 10s infinite alternate;
    stroke-width: 6;
    stroke: #17234E;
}

@keyframes stroke {
    0% {
        fill: #FFD700;
        stroke: #337ab7;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    40% {
        fill: #FFD700;
        stroke: #337ab7;
    }
    60% {
        fill: #FFD700;
        stroke: #337ab7;
        stroke-width: 2;
    }
    100% {
        fill: #FFD700;
        stroke: #337ab7;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.inicio_site:hover {
    text-shadow: 0 0 10px #fafbff;
    color: #fafbff;
}

.inicio_site svg {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    color: #17234e;
    width: 20px; /* Ajusta o tamanho do ícone */
    height: 20px; /* Ajusta o tamanho do ícone */
}

.menu_site {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    gap: 5px;
    width: 100%; /* Faz o menu ocupar toda a largura do contêiner */
    padding: 5px; /* Adiciona padding para espaçamento */
}

.menu_site a {
    display: flex;
    width: auto; /* Ajusta a largura dos links */
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: #17234e;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-block-end: 30px;
}

h1 {
    font-size: 2em;
    text-shadow: 1px 1px 2px  #ffffff;
    color: #17234E;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.8em;
}

/* Menu */
.menu_site {
    margin-bottom: 20px;
}

.menu_site a {
    text-decoration: none;
    color: #17234e;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu_site a:hover {
    background-color: #17234E;
    color: #FFD700;
}

/* Estilo das seções */
section {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1; /* Iniciar invisível */
    transform: translateY(20PX); /* Começar deslocado para baixo */
    transition: opacity 1s ease, transform 1s ease; /* Animação suave */
}

/* Classe ativa que dispara a animação */
.section-visible {
    opacity: 3; /* Torna visível */
    transform: translateY(0); /* Move a seção para sua posição original */
}

/* Estilo específico para a introdução */
.introducao {
    font-size: 1.4em;
    line-height: 1.6;
    color: #000000;
}

/* Estilo dos quadros (cards) */
.quadro-atual {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.quadro-card {
    background: radial-gradient(circle, #17234e, #000000);
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 calc(30% - 15px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    color: #fff;
    cursor: pointer; /* Adiciona o cursor de link */
}

.quadro-card:hover {
    background-color: #005f99; /* Muda a cor ao passar o mouse */
    opacity: 0.9; /* Adiciona opacidade ao passar o mouse */
    transform: scale(1.02); /* Adiciona um leve aumento ao passar o mouse */
}

.recebimento {
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.4em;
}

/* Estilos para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 1.4em;
}
/*.capacidade-produtiva:hover{
    transform: scale(1.1);
}*/

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #17234e;
}

th {
    background: radial-gradient(circle, #00416b, #000000);
    color: white;
}

#efetivo, #capacidade-produtiva {
    margin-top: 20px;
}

/* Estilo da conclusão */
.conclusao {
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.4em;
    background: radial-gradient(circle, #17234e, #000000);
}


