<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Atividades 2025 - CEINT Curitiba</title>
    <link rel="stylesheet" type="text/css" href="static/CI.css">
</head>
<body class="corpo">      
    <div class="header">
        <div class="wrapper">
            <svg>
                <text x="50%" y="40%" dy=".15em" text-anchor="middle">
                    CENTRO INTERNACIONAL DE CURITIBA - PR
                </text>
            </svg>
        </div>
    </div>
    <div class="container">
            <div class="menu_site">
                <a href="PAINEL" class="inicio_site">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 8 13.5V10H6v3.5A1.5 1.5 0 0 1 4.5 15h-3A1.5 1.5 0 0 1 0 13.5V9.293l6-6a1 1 0 0 1 1.414 0zM7.5 1.5a1 1 0 0 1 1 0l6 6a1 1 0 0 1-1.414 1.414L8 3.707 1.914 8.914A1 1 0 0 1 .5 7.5l6-6z"/>
                    </svg>
                    Página Inicial Painel
                </a>
            </div>
            <section class="introducao" id="introducao">
                <h1>Relatório de Atividades CEINT 2025</h1>
                <p>Apresentamos um panorama sintético das atividades realizadas pelo Centro Internacional de Curitiba (CEINT) ao longo do ano de 2025. Este documento abrange dados sobre o recebimento de carga, o quadro atual de operações e as principais atividades e projetos desenvolvidos pelas diversas seções do CEINT. A análise aqui apresentada visa fornecer uma visão abrangente do desempenho e das iniciativas do centro, destacando os esforços contínuos para a otimização de processos e a melhoria da qualidade dos serviços prestados.</p>
            </section>
            <section id="recebimento-de-carga">
                <h2>Recebimento de Carga CEINT</h2>
                <p class="recebimento">Em 2025, o CEINT Curitiba recebeu e fiscalizou diariamente, em média, 89.887 objetos. O percentual de carga tributada que entra no armazém da GESAD com <i>status<i> de aguardando pagamento está em 19,67% do total da carga recebida.</p>
            </section>    
            <section class="capacidade-produtiva" id="capacidade-produtiva">
                <h3>Efetivo CEINT</h3>
                <table>
                    <tr>
                        <th>Categoria</th>
                        <th>Quantidade</th>
                    </tr>
                    <tr>
                        <td>Efetivo Próprio CEINT</td>
                        <td>51</td>
                    </tr>
                    <tr>
                        <td>Efetivo Atual do CEINT (EIS)</td>
                        <td>54</td>
                    </tr>
                </table>
                <h3>Capacidade Produtiva da Unidade</h3>
                <table>
                    <tr>
                        <th>Gerência</th>
                        <th>Capacidade Produtiva</th>
                        <th>Equipamentos</th>
                        <th>Meta x Hora</th>
                    </tr>
                    <tr>
                        <td>GECAP – Abertura</td>
                        <td>295.568</td>
                        <td>52</td>
                        <td>812</td>
                    </tr>
                    <tr>
                        <td>GESAD - Tributado</td>
                        <td>78.750</td>
                        <td>25</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>GESAD – Digitação</td>
                        <td>1.840</td>
                        <td>8</td>
                        <td>230</td>
                    </tr>
                    <tr>
                        <td>GEARA – Devolução</td>
                        <td>18.900</td>
                        <td>6</td>
                        <td>450</td>
                    </tr>
                </table>
                <h3>Tratamento carga 2025</h3>
                <table>
                    <tr>
                        <th>Gerência</th>
                        <th>Carga Recebida</th>
                        <th>Leitura Armazém</th>
                        <th>Devolução CDLs</th>
                    </tr>
                    <tr>
                        <td>GECAP – Abertura</td>
                        <td>16.452.694</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GESAD - Tributado</td>
                        <td></td>
                        <td>11.740.872</td>
                        <td></td>
                    </tr>
                        <td>GEARA – Devolução</td>
                        <td></td>
                        <td></td>
                        <td>7.915</td>
                    </tr>
                </table>
            </section>   
            <section id="quadro-atual">
                <h2>Gerências de Atividades</h2>
                <div class="quadro-atual">
                    <div class="quadro-card" onclick="window.open('/static/CI/Briefing_GECAP.pdf', '_blank')">
                        <h3>GECAP – Abertura/Entreposto</h3>
                        <p>Gerência responsável pelo recebimento das linhas de transporte, abertura e fiscalização com raio-x de toda carga que o CEINT recebe.</p>
                    </div>
                    <div class="quadro-card" onclick="window.open('/static/CI/Briefing_GESAD_EXIGENCIA.pdf', '_blank')">
                        <h3>GESAD – Revisão/Exigência</h3>
                        <p>Gerência responsável pela emissão da documentação de revisão de tributos e exigência fiscal. Atua diretamente com os Auditores da Receita Federal Brasileira (RFB).</p>
                    </div>
                    <div class="quadro-card" onclick="window.open('/static/CI/Briefing_GESAD.pdf', '_blank')">
                        <h3>GESAD – Tributação</h3>
                        <p>Gerência responsável pela emissão da documentação de importação (DIR) e gerenciamento do armazém de objetos tributados. Em média, realizam 54.768 leituras diárias. Aproximadamente 86% da carga segue para expedição pelo CTCE Pinhais e 14% são encaminhadas para devolução pelo motivo de importação não autorizada.</p>
                    </div>
                    <div class="quadro-card" onclick="window.open('/static/CI/Briefing_GEARA.pdf', '_blank')">
                        <h3>GEARA – Anuentes/Devolução</h3>
                        <p>Gerência responsável pelo suporte na fiscalização de remessas pelos órgãos anuentes, classificação de objetos com avarias, recondicionamento das remessas e preparação da carga para devolução ao país de origem com status de importação não autorizada pela RFB.</p>
                    </div>
                    <div class="quadro-card" onclick="window.open('/static/CI/Briefing_GPLAQ.pdf', '_blank')">
                        <h3>GPLAQ – Planejamento/Qualidade</h3>
                        <p>Gerência responsável pela gestão organizacional, treinamentos, padronização do processo produtivo SAPPP, segurança (CFTV), projetos KAIZEN, indicadores de processos/qualidade, regularização de objetos não faturados, automação de processos e suporte de informática.</p>
                    </div>
                    <div class="quadro-card" onclick="window.open('/static/CI/Briefing_SEAO.pdf', '_blank')">
                        <h3>SEAO – Administrativo</h3>
                        <p>Seção responsável por atividades administrativas, bens e serviços do CEINT.</p>
                    </div>
                </div>
            </section>
            <section class="conclusao" id="conclusao">
                    <p>O CEINT Curitiba continua a desempenhar um papel crucial na gestão e processamento de cargas internacionais, com um foco constante, no cliente, na eficiência e qualidade. As iniciativas de treinamento, padronização e melhoria contínua, como os projetos KAIZEN, são fundamentais para manter a excelência operacional. Este relatório reflete o compromisso do CEINT em aprimorar seus processos e garantir a satisfação dos seus usuários.</p>
            </section>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sections = document.querySelectorAll('section');

        function checkVisibility() {
            const triggerBottom = window.innerHeight * 0.8; // Um pouco antes do fundo da janela
            sections.forEach(section => {
                const sectionTop = section.getBoundingClientRect().top;

                if (sectionTop < triggerBottom) {
                    section.classList.add('section-visible'); // Adiciona a classe que ativa a animação
                }
            });
        }
        window.addEventListener('scroll', checkVisibility);
        checkVisibility(); // Executa uma vez para verificar ao carregar a página
    });
</script>

</body>

</html>
